.dy-button{
    color: #fff;
    border: none;
    height: 45px;
    width: 90px;
    line-height: 45px;
    margin-left: 10px; 
    box-sizing: border-box;
    outline:none;
    border-radius: 3px;
    &:active {
        outline:none;
        opacity: 0.5;
      }
}
.dy-button.primary{
    color: #fff;
}