/* .pull-enter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform .3s linear;
  }
 .pull-enter-active {
  opacity: 1;
  } 
  .pull-exit {
    transition: transform .3s linear;
  }
.pull-exit-active {
  transform: translateX(-100%);
  }  */