.dy-button{
    color: #fff;
    border: none;
    height: 45px;
    width: 90px;
    line-height: 45px;
    box-sizing: border-box;
    outline:none;
    margin: 5px;
    border-radius: 3px;
    &:active {
        outline:none;
        opacity: 0.5;
      }
    ._icon{
        margin-right:5px; 
    }
}
.dy-button.primary{
    color: #fff;
}